/*funzione random hex gen*/
/*assegnazione dei colori ai 12 div*/
body {
  display: flex;
  gap: 30px;
}

div:nth-child(1) {
  background-color: #0E7AEB;
  height: 50px;
  width: 50px;
}

div:nth-child(2) {
  background-color: #57A129;
  height: 50px;
  width: 50px;
}

div:nth-child(3) {
  background-color: #5881F9;
  height: 50px;
  width: 50px;
}

div:nth-child(4) {
  background-color: #D8B604;
  height: 50px;
  width: 50px;
}

div:nth-child(5) {
  background-color: #0F6CF8;
  height: 50px;
  width: 50px;
}

div:nth-child(6) {
  background-color: #1D1798;
  height: 50px;
  width: 50px;
}

div:nth-child(7) {
  background-color: #9E0096;
  height: 50px;
  width: 50px;
}

div:nth-child(8) {
  background-color: #CC336B;
  height: 50px;
  width: 50px;
}

div:nth-child(9) {
  background-color: #B910F5;
  height: 50px;
  width: 50px;
}

div:nth-child(10) {
  background-color: #66A2F0;
  height: 50px;
  width: 50px;
}

div:nth-child(11) {
  background-color: #E284F0;
  height: 50px;
  width: 50px;
}

div:nth-child(12) {
  background-color: #84AAF2;
  height: 50px;
  width: 50px;
}
