/*funzione random hex gen*/
/*assegnazione dei colori ai 12 div*/
article {
  display: flex;
  gap: 30px;
}

div:nth-child(1) {
  color: #80D793;
  height: 50px;
  width: 50px;
}

div:nth-child(2) {
  color: #EEE543;
  height: 50px;
  width: 50px;
}

div:nth-child(3) {
  color: #D1153C;
  height: 50px;
  width: 50px;
}

div:nth-child(4) {
  color: #EAA6FA;
  height: 50px;
  width: 50px;
}

div:nth-child(5) {
  color: #AD3665;
  height: 50px;
  width: 50px;
}

div:nth-child(6) {
  color: #4CCE6D;
  height: 50px;
  width: 50px;
}

div:nth-child(7) {
  color: #AD01A8;
  height: 50px;
  width: 50px;
}

div:nth-child(8) {
  color: #A42228;
  height: 50px;
  width: 50px;
}

div:nth-child(9) {
  color: #5C5C40;
  height: 50px;
  width: 50px;
}

div:nth-child(10) {
  color: #8C34A0;
  height: 50px;
  width: 50px;
}

div:nth-child(11) {
  color: #4B29E1;
  height: 50px;
  width: 50px;
}

div:nth-child(12) {
  color: #525FA0;
  height: 50px;
  width: 50px;
}
